<a href="https://colab.research.google.com/github/Royalrival/Antariksh/blob/main/lec1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
r=15-2j
print(r.real)
print(r.imag)
print(type(r))
b=abs(r)
print(b)

15.0
-2.0
<class 'complex'>
15.132745950421556

In [ ]:
list1 = [{'I': 'one'}, {'II': 'two'}, {'III': 'three'}]
list1.append('IV')
print(list1)
list1.pop()
#pops out last element
print(list1[1]['II'])
list1.insert(3,'3.5')
#insert is used to inser element at an index
print(list1)
print(type(list1))
list1.reverse()
print(list1)
tdict = dict([{'I', 'one'}, {'II', 'two'}, {'III', 'three'}])
print(type(tdict))
#dict keyword with bracket makes the list as dict
tdict['IV']='Four'
print(tdict)
for key in tdict:
  print(key, 'corresponds to',tdict[key])
print(tdict.keys())
print(tdict.values())

[{'I': 'one'}, {'II': 'two'}, {'III': 'three'}, 'IV']
two
[{'I': 'one'}, {'II': 'two'}, {'III': 'three'}, '3.5']
<class 'list'>
['3.5', {'III': 'three'}, {'II': 'two'}, {'I': 'one'}]
<class 'dict'>
{'one': 'I', 'II': 'two', 'three': 'III', 'IV': 'Four'}
one corresponds to I
II corresponds to two
three corresponds to III
IV corresponds to Four
dict_keys(['one', 'II', 'three', 'IV'])
dict_values(['I', 'two', 'III', 'Four'])

In [ ]:
d2={'Kingdom':[{'Plantae':'Plants'},{'Animalia':'Animals'}],'Microbes':[{'Bacteria':'Lactobacillus'},{'Fungia':'Ringworm'}]}
d2['Kingdom'][1]['Animalia']

'Animals'

In [ ]:
for key,value in d2.items():
  print(key)
  print(value)

Kingdom
[{'Plantae': 'Plants'}, {'Animalia': 'Animals'}]
Microbes
[{'Bacteria': 'Lactobacillus'}, {'Fungia': 'Ringworm'}]

In [ ]:
str="Hello World"
print(str.count('l'))
print(str.upper())
print(str.replace('World','world'))
print(str.title())

3
HELLO WORLD
Hello world
Hello World

In [ ]:
lo=['Humans','Animals','Plants','Microbes']
#for loop
for i in lo:
  print(i)
#alternatively
print("\n")
for i in range(len(lo)):
  print(lo[i])

In [ ]:
for i in 'ABCDE':
  #traversing through string
  print(i)

In [ ]:
for i in range(0,10,2):
  #implementation of step
  print(i)

In [ ]:
n=15
sum=0
while n!=0 :
  d=n%10
  sum=sum+d
  n=n/10
print(sum)

In [ ]:
for i in range(10):
  if(i==3):
    continue
  elif(i==9):
    break
  print(i)

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(j,end="")
  print("\n")

In [ ]:
def average(a,b,c):
  return a+b+c
res = average(3,7,9)
print(res)

In [ ]:
def l1(*args):
  for i in args:
    print(i)
#passing list as parameters in function
#*args is used for accepting list
l1('A','B','C',45,13,54)

In [ ]:
def d1(**kwargs):
  for key,value in kwargs.items():
    print("key:",key,", value:",value)
d1(Asia=1,America=2,Europe=3,Antartica=4,Africa=5,Australia=6)

In [ ]:
def f1(n):
  return lambda a : a ** n

cubecalc = f1(3)
#the lambda function property is used by other function hence cube function is formed
print(cubecalc(11))

In [ ]:
def a(arg,*args):
  for i in args:
    print(i)
    print(arg)

a('O','A+','A','B+','B','C+','C')